<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>BFDD2650-B012-4880-83A0-5FA7310BC93E</string>
			<string>2831EB6A-EBDB-4241-8D83-4E7B2EB1B6A3</string>
			<string>------------------------------------</string>
			<string>9C6E2507-DF2A-4058-A745-61A11120BCDE</string>
			<string>1A68116A-AAC7-4CB5-8E48-7C7993FCB4BC</string>
			<string>58B98DCF-9C1E-4DB9-8838-B42462F43E26</string>
			<string>EE06DB03-2121-4079-AA0A-23FF38EEF8E6</string>
			<string>3A2111F0-021C-4BE7-9FCC-7C7FE49EBD61</string>
			<string>44A5CAE8-BCA5-434F-BF9C-DDEEF1E75724</string>
			<string>------------------------------------</string>
			<string>E42883A7-21BC-47B3-905C-9EF0D1C2471B</string>
			<string>AA9BF86C-43B2-4CAE-B7B4-82A544351201</string>
			<string>F8EBADC5-1B2E-4AB0-9758-C9DE47CFDABD</string>
			<string>779192A4-65CF-403C-8AA6-9BEC638FC9A0</string>
			<string>B3355F9B-9640-4854-83A8-DAF7F44CE3BA</string>
			<string>------------------------------------</string>
			<string>B526EBB2-53AB-4542-B582-45CCAB47E819</string>
			<string>F087CCA1-6FCA-4360-AF09-B64FE4A3AFF0</string>
			<string>7ECDBFE5-6EE3-4BD2-AC6E-4BB51DDC157D</string>
			<string>------------------------------------</string>
			<string>21D5C9FE-4FE6-458B-8C70-E5ED3417C010</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>21D5C9FE-4FE6-458B-8C70-E5ED3417C010</key>
			<dict>
				<key>items</key>
				<array>
					<string>172897EF-5160-4DF9-B18A-22FCD0B26CBB</string>
					<string>------------------------------------</string>
					<string>702B3626-19A0-49C6-ADA9-376FA4D30EF3</string>
					<string>FCE9011E-0864-49B0-8237-5262C827FBCA</string>
				</array>
				<key>name</key>
				<string>Forms</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>JAML</string>
	<key>ordering</key>
	<array>
		<string>BFDD2650-B012-4880-83A0-5FA7310BC93E</string>
		<string>2831EB6A-EBDB-4241-8D83-4E7B2EB1B6A3</string>
		<string>9C6E2507-DF2A-4058-A745-61A11120BCDE</string>
		<string>E42883A7-21BC-47B3-905C-9EF0D1C2471B</string>
		<string>AA9BF86C-43B2-4CAE-B7B4-82A544351201</string>
		<string>F8EBADC5-1B2E-4AB0-9758-C9DE47CFDABD</string>
		<string>779192A4-65CF-403C-8AA6-9BEC638FC9A0</string>
		<string>B3355F9B-9640-4854-83A8-DAF7F44CE3BA</string>
		<string>58B98DCF-9C1E-4DB9-8838-B42462F43E26</string>
		<string>EE06DB03-2121-4079-AA0A-23FF38EEF8E6</string>
		<string>3A2111F0-021C-4BE7-9FCC-7C7FE49EBD61</string>
		<string>B526EBB2-53AB-4542-B582-45CCAB47E819</string>
		<string>F087CCA1-6FCA-4360-AF09-B64FE4A3AFF0</string>
		<string>7ECDBFE5-6EE3-4BD2-AC6E-4BB51DDC157D</string>
		<string>44A5CAE8-BCA5-434F-BF9C-DDEEF1E75724</string>
		<string>1A68116A-AAC7-4CB5-8E48-7C7993FCB4BC</string>
		<string>172897EF-5160-4DF9-B18A-22FCD0B26CBB</string>
		<string>702B3626-19A0-49C6-ADA9-376FA4D30EF3</string>
		<string>FCE9011E-0864-49B0-8237-5262C827FBCA</string>
	</array>
	<key>uuid</key>
	<string>9B7C2B48-DDC4-4F7A-BD02-BAABF7335965</string>
</dict>
</plist>
